.Navbar {
  width: 100%;
  height: 70px;
  line-height: 70px;
  background: #010202;
  position: fixed;
  color: white;
  font-size: 18px;
  text-align: center;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App .Auth-Form {
  padding: 45px 90px;
  border: 1px solid #969696;
}

.App .Auth-Form form {
  width: 300px;
}

.App .Auth-Form input {
  border: 0;
  outline: none;
  padding: 15px 25px;
  font-size: 20px;
  width: 100%;
  margin-bottom: 15px;
}

.App .Auth-Form button {
  outline: none;
  border: none;
  background: #010202;
  padding: 16px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 15px;
}
.App .Auth-Form button :hover {
  opacity: 0.88;
}

.App .Auth-Form span {
  font-size: 15px;
}
.App .Auth-Form .alert-danger {
  font-size: 15px;
  color: darkred;
  margin-bottom: 15px;
  margin-top: -10px;
}

.App .Auth-Form .Navigate-Auth {
  text-decoration: underline;
  cursor: pointer;
}
.App .Auth-Form .Navigate-Auth:hover {
  opacity: 0.88;
}

.App .Todo-Input {
  margin-bottom: 20px;
}

.App .Todo-Input input[type='text'] {
  border: 0;
  outline: none;
  padding: 15px 25px;
  font-size: 20px;
}

.App .Todo-Input button {
  outline: none;
  border: none;
  background: #010202;
  padding: 16px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.App .Todo-Input button:hover {
  opacity: 0.88;
}

.App .Todos-Container {
  width: 600px;
  padding: 10px 30px;
  list-style-type: none;
  font-size: 22px;
  max-height: 250px;
  overflow: auto;
  outline: 1px solid #4b5058;
}

.App .Todos-Container li {
  text-align: left;
  margin-top: 15px;
}

.App .Todos-Container li * {
  display: inline-block;
}

.App .Todos-Container li > :first-child {
  width: 60px;
}
.App .Todos-Container li > :nth-child(3) {
  margin: 0 30px;
}
.App .Todos-Container .Todos-List li > :nth-child(2) {
  vertical-align: middle;
}
.App .Todos-Container .Todos-List li > :nth-child(2) {
  margin: 0 20px;
  max-width: 120px;
}
.App .Todos-Container .Todos-List li > :nth-child(3) {
  word-wrap: break-word;
  max-width: 300px;
  margin-left: 45px;
}
.App .Todos-Container li > :nth-child(4) {
  float: right;
}

.App .Todos-Container li button {
  cursor: pointer;
  border: 0;
  margin-right: 3px;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  padding-top: 2px;
}

.App .Todos-Container li button:hover {
  opacity: 0.82;
}

.App .Footer .Filters {
  font-size: 22px;
}

.App .Footer .Filters a {
  margin-right: 18px;
  color: white;
}

.App .Footer .Filters a.Active {
  color: #010202;
}

.App .Footer .Info {
  font-size: 15px;
  margin-top: 30px;
}

.App .Footer .Info p {
  margin: 5px;
}

.App .Footer .Actions button {
  border: 0;
  outline: 0;
  font-size: 13px;
  padding: 5px 15px;
  cursor: pointer;
}
.App .Footer .Actions button:hover {
  opacity: 0.88;
}
.App .Footer .Actions button:disabled {
  cursor: not-allowed;
}
.App .Footer .Actions button:disabled:hover {
  opacity: 1;
}
